
<div class="container">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <th scope="row">{{product.id}}</th>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>
                <button type="button" class="btn btn-secondary" (click)="editProduct(product.id)">Edit</button>
                <button type="button" class="btn btn-success" (click)="deleteProduct(product.id)">Delete</button>
            </td>
          </tr>
        </tbody>
        </table>
        <div class="row">
            <button class="btn btn-success" (click)="addproduct()">Add Product</button>
          
        </div>
</div>

